body {

	background-image: url(bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;	
}
margin:0;
	padding:0;
	background:#ccc;
}
.nav ul {
	list-style:none;
	background:#BA55D3;
	text-align:center;
	padding:0;
	margin:0;
}
.nav li {
	display:inline-block;
}
.nav a:hover {
	background:#000;
	transition:0.6s
}
.nav a {
	text-decoration:none;
	color:#FFFFFF;
	width:180px;
	display:block;	
	padding:20px;
	font-size:20px;
	font-family:BAZOOKA;

}
.container {
	width: 640px;
	height: 1600px;
	margin: 100px auto;
	background: black;
	position: relatives;
}
.container p {
	margin: 0;
	padding: 0;
	font-family: Trajan Pro;
	font-size: 250%;
	color: #ff8533;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	top: 3%;
}
.container h2 {
	width: 500px;
	height: 500px;
	font-family: Ink Free;
	font-size: 100%;
	color: white;
	text-align: justify;
	position: relative;
}
.container pre h3 {
	width: 500px;
	height: 200px;
	font-family: Ink Free;
	font-size: 100%;
	color: white;
	text-align: center;
}
